@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
/* CSS Document */
body{
	background-color: #f2f2f2;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
div {
	outline: 1px solid lime;
}
con{
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}
.titlebar{
	background-color: #2d2f3b;
	color: #ffffff;
	height: 95px;
}
.nav{
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	font-size: 1.4rem;
}
.salmon{
	color:#f06c64;
}
.links{
	float: right;
	margin-top: 40px;
	margin-right: 10px;
	font-size: 0.75rem;
	color: #4b4e61;
}
.links a:hover{
	color: #f06c64;
}
.links a{
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.banner{
	background-color: #f06c64;
	padding: 20px 0;
	text-align: center;
}
.banner img{
	max-width: 780px;
	width: 90%;
}
.ourservices{
	max-width: 1020px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.ourservicestext{
	color: #666d89;
	font-size: 2rem;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	font-weight: bold;
	float: left;
}
.ourservicestext p{
	font-size: 1rem;
	font-weight: normal;
}